<?xml version="1.0"?>
<model>
  <name>basic_buoy_orange</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Eugene</name>
    <email>eugene@example.com</email>
  </author>
  <description>basic orange buoy for 5m USV (basic_buoy_white 색상만 변경)</description>
</model>
